<!DOCTYPE html>
<html>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <body>
    <tt>
      <body style="background-color:black;">
      <font color="orange">  
      <div style="line-height:1px" >
        <p style="font-size:50px;" > &nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;,</p>
        <p style="font-size:50px;" > &nbsp;&nbsp;((___))</p>
        <p style="font-size:50px;" > &nbsp;&nbsp;[&nbsp;x&nbsp;-&nbsp;]</p>
        <p style="font-size:50px;" > &nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;/</p>
        <p style="font-size:50px;" > &nbsp;&nbsp;&nbsp;('&nbsp;')</p>
        <p style="font-size:50px;" > &nbsp;&nbsp;&nbsp;&nbsp;(O)</p>
        <p style="font-size:50px;" > &nbsp;&nbsp; </p> 
        <p style="font-size:50px;" > &nbsp;&nbsp;Hygiene </p>
       <p> This site is designed to be as simple and private</p>
        <p> as possible, using only HTML, no java-script, no CORS, </p>
        <p> no cross-site anything, no user-analytics, no wordpress, no plugins, no bloat.</p> 
         <p>No obligatory registration with email, name, password, etc. </p>
         <p>In order for your game to be private (and not be watched and interfered with by</p>
         <p>literally anyone on the internet, </p>
         <p> game admission needs to be restricted to ip connections </p>
         <p>specified during game-setup. To be part such of a private game 
         <p> you need to identify yourself </p>
         <p>somehow. This can be done without any of your information stored or collected. </p>
        <p> No information about players is collected. </p>
        <p> A cookie which contains only the fact that you </p>
         <p>are allowed to play this game is stored in your browser for a duration set during </p>
         <p>game-setup (the maximum time-length that the game can go on for). 
         <p> The cookie contains a unique timestamp player nickname to record who 
         made what moves </p> 
         A hash </p>
         <p>of that cookie is kept in the server game-file to verify  </p>
          <p> that you were one of the people allowed to join the game.</p>
         <p> If you want to set up a clone of this server with more or less privacy  </p>
          <p> (though more may be hard to achieve),  </p>
           <p>by all means start a fun maker-project and launch your own server.  </p>
            <p> Instructions are here:  </p>
</div>

    </object>
    <p style="font-size:10px;" > &nbsp; </p>
    </body>
</html>
    
