<!DOCTYPE html>
<html>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <body>
    <tt>
      <body style="background-color:black;">
      <font color="orange">  
      <div style="line-height:1px" >
  <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;.
  <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;((___))
  <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;[&nbsp;x&nbsp;-&nbsp;]
   <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;/
   <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;('&nbsp;')
   <p style="font-size:40px;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(O)
        <p style="font-size:90px;" > &nbsp;Chess </p>
        <p style="font-size:1px;" > &nbsp; </p>
        <form action='/tyrell_moved' method="post">
            <input type="text" name="input_1" style="font-size:50px;" placeholder="d7d5 / report">
            <input type="submit" style="font-size:50px;" value="enter"></form>
            <br>
        </form>
              </div>
      <img src="https://y0urm0ve.com/sandbox_board" alt="game board pending" height="850px" width="850px" />
    </object>
    <p style="font-size:10px;" > &nbsp; </p>
    </body>
</html>
    
