<!DOCTYPE html>
<html>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <body>
      <body style="background-color:black;"> <tt>
      <font color="orange">  
      <div style="line-height:1px">
      <p style="font-size:80px; "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</p>
      <p style="font-size:80px; "> &nbsp;&nbsp; |&nbsp;&nbsp;|&nbsp;&nbsp;|</p>
      <p style="font-size:80px; "> &nbsp;&nbsp; |&nbsp;&nbsp;|&nbsp;&nbsp;|</p>
      <p style="font-size:80px; "> &nbsp;&nbsp;   ``````'    </p>
      <p style="font-size:30px; ">  Enter move: space-from and space-to. </p>
      <p style="font-size:30px; ">  E.g. from space d7 to d5: </p>
      <p style="font-size:60px; ">  d7d5 
      </div>
        <form action='/trident_moved' method="post">
            <input type="text" name="input_1" style="font-size:40px; placeholder="from to">
            <input type="submit" style="font-size:40px; value="submit"></form>
            <br>
        </form>
      <img src="https://y0urm0ve.com/trident_board" alt="game board pending" height="850px" width="850px" />
      
      <p style="font-size:30px; "> Non-Move input: </p>
      <p style="font-size:20px; "> Type anything with "start" </p>
      <p style="font-size:20px; ">   or "new" to restart a game. </p>
      <p style="font-size:20px; "> Type "board" to refresh the board. </p>
    </body>
</html>


